.poster {
  text-align: center;
}
.posterImage {
  height: 600px;
  >img {
    margin: auto;
    display: block;
    width: 100%;

  }
}
.posterImage_overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 1;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
  }
}
.posterImage_title {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 0.8rem;
  text-align: left;
}
.posterImage_date {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.posterImage_description {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  text-align: left;
}

